$primary: #e7c9b2;
$secondary: #f7eddd;
$tertiary: #846b5b;

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin button {
  border: 2px solid $secondary;
  border-radius: 12px;
  font-weight: bold;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
  color: $secondary;
}

//-----------------------------------------------------------------------------------------------

@keyframes slideFromTop {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 8vh 15vw;
  height: 55px;
  color: $secondary;
  align-items: center;

  .logo {
    background-image: url(/assets/pahpotisWhite.svg);
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    p {
      text-align: center;
      display: none;
      position: absolute;
      top: 2rem;
      left: 15vw;
      font-size: 20px;
      font-weight: 40;
      z-index: 40;
    }
    &:hover {
      p {
        background-color: #f7eddd5d;
        backdrop-filter: blur(20px);
        border-radius: 15px;
        display: block;
        color: black;
        padding: 40px;
        width: 20rem;
        animation: 0.5s ease-in-out 0s 1 slideFromTop;
      }
    }
  }

  ul {
    animation: 1s ease-in-out 0s 1 slideFromTop;
    display: flex;
    align-items: center;
    margin-left: 3vw;

    li {
      font-weight: bold;
      margin: 0 3vw;

      a {
        display: inline-block;
        position: relative;
      }

      a::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: $secondary;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .buttonPrimary {
    @include button;
    margin-left: 3vw;
    background-color: rgba(255, 255, 255, 0);
    &:hover {
      background-color: $primary;
      color: #000;
      cursor: pointer;
      border-color: $primary;
    }
  }
}

//-----------------------------------------------------------------------------------------------

@keyframes scaleUp {
  0% {
    transform: scale(10%);
  }
  100% {
    transform: scale(100%);
  }
}

.heroContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .hero {
    width: 450px;
    color: $secondary;
    top: 20%;
    margin-left: 15vw;
    box-shadow: 0 0 40px 40px rgb(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;

    .heroText {
      animation: 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 scaleUp;

      h1 {
        font-weight: bold;
        font-size: 7vh;
      }

      p {
        font-size: 24px;
        font-weight: 100;
        // padding: 20px 0 40px 0;
        color: $secondary;
        span {
          color: $primary;
          font-style: italic;
        }
        // display: -webkit-box;
        // -webkit-line-clamp: 5;
        // -webkit-box-orient: vertical;
        // overflow: hidden;
      }
    }

    .heroTextDef {
      animation: 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 scaleUp;
      width: 35vw;
      position: relative;

      h1 {
        font-weight: bold;
        font-size: 7vh;
      }

      p {
        text-align: justify;
        font-size: 22px;
        font-weight: 100;
        color: $secondary;
        margin-bottom: 5vh;
      }

      span {
        font-size: 22px;
        font-weight: 100;
        color: $primary;
        font-style: italic;
      }

      .CompleteDef {
        color: $secondary;
        display: block;
      }

      @media (max-width: 1280px) {
        .CompleteDef {
          // wrap the text
          display: inline-block;
          width: 100%;
          display: none;
        }
      }
    }

    .buttonSecondary {
      @include button;
      position: absolute;
      bottom: 14vh;
      border: none;
      background-color: $tertiary;
      color: $secondary;
      width: 150px;
      height: 55px;
      animation: 1s ease-in-out 0s 1 slideFromBottom;

      @media (max-height: 1000px) {
        bottom: 8vh;
      }

      &:hover {
        background-color: $primary;
        color: black;
        cursor: pointer;
      }

      @keyframes slideFromBottom {
        0% {
          transform: translateY(200%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}

.teamContainer {
  color: $secondary;
  margin: 0 15vw;
  animation: 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 scaleUp;

  h1 {
    font-weight: bold;
    font-size: 7vh;
    width: 50%;
    margin-bottom: 3vh;
  }

  span {
    font-size: 22px;
    font-weight: 100;
    color: $primary;
    font-style: italic;
  }

  section {
    display: flex;
    margin-top: 7vh;
    width: 100%;
    justify-content: space-between;
    .team {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5vh;

      .teamImage {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-right: 5vw;
        box-shadow: 0 0 20px 20px rgb(0, 0, 0, 0.8);
        // animation scaleUp
        animation: 0.5s linear 0s 1 imageScaleUp;
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          border-radius: 10%;
          width: 250px;
          height: 250px;
        }
      }

      @keyframes imageScaleUp {
        0% {
          transform: scaleX(0);
        }
        100% {
          transform: scaleX(100%);
        }
      }
    }
  }
}

//-----------------------------------------------------------------------------------------------

@media (max-width: 768px) {
  .navContainer {
    margin: 4vh 5vw 0 5vw;
    .logo {
      display: none;
    }
    .buttonPrimary {
      border: none;
    }
  }

  .heroContainer {
    margin: 0;

    .hero {
      margin: 0;
      display: flex;
      justify-content: center;

      .heroText {
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
          font-size: 3.5rem;
          margin: 4vh;
        }
      }

      .heroTextDef {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80vw;
        background-color: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 40px 40px rgb(0, 0, 0, 0.7);
      }

      .buttonSecondary {
        background-color: $primary;
        color: black;
        box-shadow: 0 0 40px 40px rgb(0, 0, 0, 0.7);
        &:hover {
          background-color: $tertiary;
          color: $secondary;
        }
      }
    }
  }

  .teamContainer {
    align-items: center;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      margin: 4vh;
    }

    section {
      flex-direction: column;
      .team {
        flex-direction: column;
        align-items: center;
        .teamImage {
          margin: 0;
        }
      }
    }
  }
}

@media (max-height: 750px) {
  .heroContainer {
    .hero {
      .heroText {
        h1 {
          margin: 2vh;
          font-size: 3rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      .buttonSecondary {
        bottom: 4vh;
      }
    }
  }
}
