$primary: #e7c9b2;
$secondary: #f7eddd;
$tertiary: #846b5b;

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@mixin button {
  border: 2px solid $secondary;
  border-radius: 12px;
  font-weight: bold;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
  color: $secondary;
}

//-----------------------------------------------------------------------------------------------

@keyframes slideFromTop {
  0% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0%);
  }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 8vh 15vw;
  height: 55px;
  color: $secondary;
  align-items: center;

  .logo {
    background-image: url(/assets/pahpotisWhite.svg);
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .buttonPrimary {
    @include button;
    background-color: rgba(255, 255, 255, 0);
    &:hover {
      background-color: $primary;
      color: #000;
      cursor: pointer;
      border-color: $primary;
    }
  }

  ul {
    animation: 1s ease-in-out 0s 1 slideFromTop;
    display: flex;
    align-items: center;

    li {
      font-weight: bold;
      margin: 0 3vw;
    }

    a {
      display: inline-block;
      position: relative;
    }

    a::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -4px;
      left: 0;
      background-color: $secondary;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

//-----------------------------------------------------------------------------------------------

@keyframes scaleUp {
  0% {
    transform: scale(10%);
  }
  100% {
    transform: scale(100%);
  }
}

.heroContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .hero {
    width: 450px;
    color: $secondary;
    top: 20%;
    margin-left: 15vw;

    .heroText {
      animation: 1.5s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0s 1 scaleUp;

      h1 {
        font-weight: bold;
        font-size: 7vh;
      }

      p {
        font-size: 24px;
        font-weight: 100;
        padding: 20px 0 40px 0;
        color: $secondary;
        span {
          color: $primary;
          font-style: italic;
        }
      }
    }

    .buttonSecondary {
      @include button;
      position: absolute;
      bottom: 14vh;
      border: none;
      background-color: $tertiary;
      color: $secondary;
      width: 150px;
      height: 55px;
      animation: 1s ease-in-out 0s 1 slideFromBottom;

      @media (max-height: 1000px) {
        bottom: 8vh;
      }
        
      &:hover {
        background-color: $primary;
        color: black;
        cursor: pointer;
      }

      @keyframes slideFromBottom {
        0% {
          transform: translateY(200%);
        }
        100% {
          transform: translateX(0);
        }
      }
    }
  }
}
